@import url(./fonts.css);

/* CUSTOM PROPS */

:root {
    --orange: #F18128;
    --white: #fff;
    --orange-dark: #ED8E00;
    --blue-dark: #040D1F;
    --Montserrat: "Montserrat";
    --Roboto: "Roboto";
    --Comfortaa: "Comfortaa";
}

/* GLOBAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* CONTAINER */

.container {
    max-width: 1140px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin:  auto;
}

/* BTN */

.btn {
    max-width: 166px;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 4px;
    border: 1px solid #000;
    background: var(--orange);
    display: block;
    text-align: center;
    font-family: var(--Roboto);
    font-size: 14px;
    font-weight: 500;
    line-height: 12px;
    color: #000;
    transition: .4s;
}

.btn:hover {
    background-color: var(--blue-dark);
    color: var(--white);
}

/* TITLE */

.title {
    color: var(--orange);
    font-family: var(--Comfortaa);
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 54px;
    text-transform: capitalize;
    border-bottom: 2px solid var(--orange);
    width: max-content;
}

/* BODY */

body {
    background-color: var(--blue-dark);
    font-family: var(--Montserrat);
}

/* SITE-ADS */

.site-ads {
    width: 100%;
    height: 80px;
    background: linear-gradient(90deg, #0031AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    color: var(--white); 
}
.site-ads__title {
    max-width: 166px;
    width: 100%;
    font-family: var(--Comfortaa);
    font-size: 16px;
    font-weight: 400;
}
/* SITE-ADS */

/* SITE-HEADER */
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-header {
    width: 100%;
    background: rgba(1, 3, 5, 0.80);
    backdrop-filter: blur(7.5px);
    position: sticky;
    top: 0;
    left: 0;
    

}
.logo {
    display: block;
    font-family: var(--Comfortaa);
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
}
.logo-img {
    width: 103px;
    height: 42px;
    object-fit: cover;
  
}
.menu {
    display: flex;
}
.menu-link {
    display: inline-block;
    padding: 42px 12px;
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    transition: .3s;
    position: relative;
}
.menu-link::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--orange);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .4s;
}
.menu-link:hover {
    color: var(--orange-dark);
}
.menu-link:hover::after{
    width: 100%;
}
/* SITE-HEADER */

/* SITE-HERO */

.site-hero {
    width: 100%;
    height: 640px;
    position: relative;
}
.site-hero__banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}
.site-hero__content {
    width: 100%;
    height: 100%;
    background-color: rgba(7, 15, 25, 0.75);
}
.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

.site-hero__headline {
    color: var(--white);
    font-size: 64px;
    font-weight: 700;
}
.site-hero__desc {
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 570px;
    width: 100%;
    color: #C8C8C8;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
/* SITE-HERO */